.search-Wrapper {
  width: 400px;
  margin: 20px auto 20px auto;
  background-color: beige;
  color: black;
}

.home-wrapper {
  background-image: url("../../Assets/pexels-pixabay-258173.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
